* {
    margin: 0;
    padding: 0;
}
body {
    display: flexbox;
    background-color: black;
    font-family: "Abel", sans-serif;
    font-size: 1.3vw;
    color: white;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
em {
    color: rgb(190,255,6);
}
.corner {
    width: 20%;
    font-size: 1.6vw;
    color: rgb(190,255,6);
    text-align: end;
}
.left {
    text-align: start;
}
.corner.left {
    margin-bottom: 13vw;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}
nav > a {
    text-decoration: none;
    color: rgb(205,192,199);
}
nav > a:hover {
    color: rgb(112, 0, 255);
}
.name {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: "Major Mono Display", monospace;
    font-size: 9vw;
    margin-bottom: 0.1vw;
}
.name > div {
    display: flex;
    flex-direction: row;
}
.name_img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.name_img > img{
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    border: 0.5vw solid rgb(112, 0, 255);
}
h1 {
    line-height: 70%;
}
.welcome {
    display: flex;
    flex-direction: row;
}
.welcome_img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}
.welcome_img > img {
    height: 35vw;
}
.welcome_text {
    padding: 3vw;
}
.line {
    position: relative;
    bottom: 7vw;
}
.line > img {
    height: 39vw;
}
.education_big-text {
    font-family: "Major Mono Display", monospace;
    overflow:hidden;
    font-size: 9vw;
    display: flex;
    flex-flow: column nowrap;
    line-height: 75%;
    margin-top: -18vw;
    height: 45vw;
}
.education_big-text > p {
    white-space: nowrap;
}
.education_p1 {
    margin-left: -3vw;
}
.education_p3 {
    margin-left: -3.5vw;
}
.education_img {
    display: flex;
    justify-content: center;
    margin-top: -12vw;
}
.education_img > img {
    height: 45vw;
}
.education_text {
    display: flex;
    justify-content: center;
    padding: 3vw;
}
.background {
    background-color: rgb(112, 0, 255);
    position: absolute;
    height: 90vw;
    width: 100%;
    top: 208vw;
    z-index: -1;
}
.hobby {
    display: flex;
    flex-direction: column;
    margin: 17vw 0 20vw 0;
}
.hobby_block1, .hobby_block2 {
    display: flex;
    flex-direction: row;
    height: 36vw;
}
.hobby_img {
    display: flex;
    flex-direction: row;
}
.hobby_img > img {
    height: 34vw;
}
.hobby_text {
    padding: 2vw;
}
.programming_text {
    margin-bottom: 3em;
}
.programming_text > p {
    font-family: "Major Mono Display", monospace;
    font-size: 1.7vw;
    text-align: center;
}
.programming_list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.programming_p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    height: 4vw;
    background-color: rgb(27, 27, 27);
    border-left: 0.2vw solid rgb(112, 0, 255);
}
footer {
    background-color: rgb(27, 27, 27);
    height: 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_connect > a > img {
    margin: 1.3vw 0.7vw 0 0.7vw;
    height: 4vw;
    width: 4vw;
    border: 0.2vw solid rgb(190,255,6);
    border-radius: 50%;
}
footer > nav {
    margin: 1.5vw 0;
}